header {
  width: 90%;
  height: 10%;
  margin: auto;
  background-image: url('img/bus.jpg');
  background-size: cover;
}
h1 {
  color: white;
  background-color: rgba(112, 94, 94, 0.7);
  font-size: 5em;
  font-style: normal;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(147, 17, 237);
}
a:hover {
  font-weight: bold;
  color: rgb(15, 235, 228);
  font-size: 3em;
}
